/* General CSS rules applied to all pages */

/* Set the font and text color of the body */
html, body {
    
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
    height: 100%;
    font-family: 'Dancing Script', cursive;

}



/* Set the background image */
#home {
    background: url("../images/background-yinyang.jpg") no-repeat center fixed;
    display:table;  
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#landing-text {
    display: table-cell;
    position: relative;
    top: 50%;
    text-align: center; 
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    line-height: 150%;
    
   
}

#role {
    font-size: 50%;
}


/* Set the clouds animation */
.clouds-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/cloud_50.png");
    animation: animate 90s linear infinite;

}
@keyframes animate {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 5440px;
    }

}


.padding {
    padding: 80px 0;
}



/* Set nav bar on the right */

#wrap-social ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 20px;
    right: 5%;
    top: 27%;
    align-items: baseline;
     
}

#wrap-social li {
    transform: rotate(-90deg);
    margin: 30px;
    width: 60px;
    height: 20px;
    font-family: 'Work Sans', sans-serif;
    
    
    
    
}

#wrap-social a {
    color: black;
}

#wrap-social a:link {
    text-decoration: none;
    
}


#about-me {
    background: url("../images/background-yinyang.jpg") no-repeat center fixed;
    display:table;  
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* Set my photo */
#bio-photo {
    border-radius: 50%;
    width: 250px;
    display: block;
    margin: auto;
}

.introduction {
    display: block;
    margin: auto;
    margin-top: 20px;
    font-family: sans-serif;
    line-height: 200%;
    text-align: center;
    width: 50%;
}

#portfolio {
    background: url("../images/background-yinyang.jpg") no-repeat center fixed;
    display:table;  
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    

}

.project {
  position: relative;
  width: 50%;

}

.project-image {
    border-radius: 5px;
    margin: 10px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }

.project:hover .project-image {
    opacity: 0.8;
}

.project:hover .middle {
    opacity: 1;
}

.text {
    color: #44474c;
    font-size: 15px;
    padding: 16px 32px;
    font-family: sans-serif;
}

footer {
    width: 100%;
    background-color: black;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    line-height: 50%;
    
}



#contact-info {
    line-height: 10px;
}
.fa {
    padding: 15px;
    color: white;
}


.fa:hover {
    color: gray;
    text-decoration: none;

}

@media screen and (max-width: 980px) {
    #wrap-social ul {
        right: 15%;
        
    }
}

@media screen and (max-width: 768px) {
    #wrap-social ul{
        right: 12%;
        
    }

}

@media screen and (max-width: 640px) {

    #wrap-social ul{
        right: 10%;
        
    }
}














  